.login-content {
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #614EA6;
    height: 100vh;

}

.btn-login{
    background-color: #ffff;
}

.btn-login:hover{
    background-color: #F21667;
    color: #ffff;

}

.opcoes-login a{
    text-decoration: none;
    color:#ffff;
    transition: 1s ease-in;
}

.opcoes-login a:hover{
    color:#F21667;
}